*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    color:white;
    background:#111;

    background:
    linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.8)
    ),
    url("pikachu-bg.jpg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.navbar{
    background:rgba(0,0,0,.9);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#ffcb05;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:25px;
}

.navbar li{
    cursor:pointer;
}

.hero{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:4rem;
    color:#ffcb05;
}

.hero p{
    margin:20px 0;
    font-size:1.2rem;
}

button{
    background:#ffcb05;
    color:black;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    opacity:.9;
}

.anime-section{
    padding:40px;
}

.anime-section h2{
    margin-bottom:20px;
    color:#ffcb05;
}

.anime-row{
    display:flex;
    gap:20px;
    overflow-x:auto;
}

.anime-card{
    min-width:220px;
    background:#1c1c1c;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
}

.anime-card:hover{
    transform:scale(1.08);
}

.anime-card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.anime-card h3{
    padding:10px;
    text-align:center;
}

footer{
    background:black;
    text-align:center;
    padding:20px;
    margin-top:50px;
}